body {
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 0.3fr 0.5fr;
}

.greeting {
    display: grid;
    align-items: start;
    justify-items: center   ;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
}

button {
    background-color: #f87171;
    color: white;
    height: 2rem;
    border-radius: 30px;
    border: none;
    font-size: 1.2rem;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: #f87171;
    color: white;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 3.5rem;
    align-items: center;
    justify-items: start;
    padding: 30px;
}

.sidebar h3 {
    grid-row: 1 / span 2;
    grid-column: 2;
}

.sidebar img:nth-child(1) {
    grid-row: 1 / span 2;
    grid-column: 1;
}

.main-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #fef2f2;
    align-items: start;
}

.projects {
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 3rem repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 30px
}

.project-heading {
    grid-column: 1 / -1;
    align-self: end;
}

.project-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: auto auto 2rem;
    padding: 30px;
    background-color: #fecaca;
    border-radius: 10px;
}

.project-box h2 {
    grid-column: 1 / -1;
}

.project-box p {
    grid-column: 1 / -1;
    grid-row: 2;
}

.project-box div {
    grid-column: -2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-box div img:nth-child(1) {
    width: 2rem;
    grid-column: 1
}

.project-box div img:nth-child(2) {
    width: 2rem;
    grid-column: 2;
}

.announcements {
    display: grid;
    grid-template-rows: 3rem repeat(auto-fit, minmax(250px, 1fr));
    /* flex-direction: column; */
    /* justify-content: start; */
    gap: 2rem;
    grid-column: span 2;    
}

.announcement-heading {
    align-self: end;
}

.trending {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    gap: 2rem;
    grid-column: span 2;
}

trending h2 {
}

.sidebar img {
    width: 50%;
    justify-self: center;
}

.search {
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

input[type="search"] {
    border-radius: 30px;
    background-color: #fef2f2;
    border: none;
    height: 2rem;
}

.avatar {
    justify-self: center;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    padding: 10px;
    justify-items: center;
}

.avatar img:nth-child(1) {
    width: 2rem;
    justify-self: end;
}

.avatar img:nth-child(2) {
    width: 4rem;
}

.avatar p {
    font-weight: 900;
    font-size: 1.3rem;
    justify-self: start;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    padding: 10px;
}

.greeting img {
    width: 5rem;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: end;
}

.greeting p {
    align-self: end;
    justify-self: start;
}

.greeting p span {
    font-weight: 900;
    font-size: 1.5rem
}

.right-bar {
    display: grid;
    /* flex-direction: column; */
    padding: 30px;
    gap: 2rem;
}

.announcement-box {
    background-color: #fecaca;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.trend-items {
    background-color: #fecaca;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    gap: 0.5rem;
}

.trend-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.trend-item img {
    width: 4rem;
    grid-column: 1 / 2;
    justify-self: center;
}

.trend-item p {
    justify-self: start;
}

.trend-item p span {
    font-weight: 900;
}

.announcement {
    display: grid;
}

.announcement span {
    font-weight: 900;
    font-size: 1.2rem;
}

.announcement p:nth-child(2):after {
    content: '';
    width: 70%;
    left: 15%;
    height: 2px;
    background: #450a0a;
    position: absolute;
    justify-self: center;
}